@model mvcdrc.Models.tblregistration1
@{
    ViewBag.Title = "AddRegistratioin";
}

<h2>AddRegistratioin</h2>
@using (Html.BeginForm("AddRegistratioin", "ManageRegistration", FormMethod.Post))
{
    <table>
        <tr>
            <td>Name :</td>
            <td>@Html.TextBoxFor(m => m.rname)</td>
        </tr>

        <tr>
            <td>Email Id :</td>
            <td>@Html.TextBoxFor(m => m.remail)</td>
        </tr>

        <tr>
            <td>Password :</td>
            <td>@Html.TextBoxFor(m => m.rpassword)</td>
        </tr>

        <tr>
            <td>Department :</td>
            <td>@Html.DropDownListFor(m => m.rdepartment, new SelectList(Model.lstdept, "did", "dname"), "--Select--")</td>
        </tr>
        <tr>
            <td>Gender :</td>
            <td>
                @for (int i = 0; i < Model.lstgender.Count; i++)
                {
                    @Html.RadioButtonFor(m => m.rgender, Model.lstgender[i].gid) @Model.lstgender[i].gname
                }
            </td>
        </tr>
        <tr>
            <td>Hobbies :</td>
            <td>
                @for (int i = 0; i < Model.lsthobby1.Count; i++)
                {
                    @Html.CheckBoxFor(m => m.lsthobby1[i].ischecked)
                    @Html.DisplayFor(m => m.lsthobby1[i].hname)
                    @Html.HiddenFor(m => m.lsthobby1[i].hname)
                }
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value=" @ViewBag.BT" /></td>
        </tr>


    </table>


}

